.desktop {
    display: flex;
    padding: 50px;
}

.program {
    width: 100px;
    height: 100px;
}

.icon-container {
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.5s;
    user-select: none;
}
.icon-container:hover {
    color: #fff;
    background-color: #1890ff;
}
.icon-container .icon{
    font-size: 36px;
}

.window {
    position: absolute;
    min-width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.window .window-title {
    width: 100%;
    height: 30px;
    flex: 0 0 30px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    line-height: 30px;
    padding: 0 10px;
    user-select: none;
}
.window .window-content {
    flex: 1;
}