html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.scene-locker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.login-window {
  width: 500px;
}

.login-button {
  margin-top: 20px;
  text-align: center;
}

.scene-locker > #background {
  position: absolute;
  left: 0;
  top: 0;
  animation: scroll-move 5s infinite;
}

@keyframes scroll-move {
  0% {
    left: 20px;
  }

  50% {
    left: calc(-100vh - 250px);
  }

  100% {
    left: 20px;
  }
}
